<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests">

    <test name="E2E Test of Learn App 1">
        <classes>
            <class name="com.learn.SpringBasic.runner.TestRunner"></class>
            <!-- <class name="com.learn.SpringBasic.SpringTestNGTest"></class> -->
        </classes>
    </test>

    <!-- <test name="E2E Test of Learn App 2" browser="chrome">
        <classes>
            <class name="com.learn.SpringBasic.runner.TestRunner"></class>
        </classes>
    </test> -->

</suite>
